// Colors
$black: #01031a;
$dark-gray: #1e1f34;
$neon-cyan: #4aced1;
$white: #ffffff;

//Transition Duration
$duration: 200ms;

//Max Container Size
$max-w: 69.375rem; //1110px

//BreakPoints Size
$size-md: 48rem; //768px
$size-lg: 64rem; //1024px
$size-xl: 80rem; //1280px
