.header {
  height: 100vh;
  display: flex;
  align-items: center;

  .headerContainer {
    width: 100%;
    max-width: 720px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .headerButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
