@use "../../sass";

.footerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px 1.5rem;
  background-color: sass.$black;
  border-top: 1px solid sass.$dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  @include sass.breakpoint(sass.$size-lg) {
    padding: 35px 3rem;
    flex-direction: row;
    justify-content: center;
  }

  .linkIcon {
    &:focus-visible,
    &:hover {
      filter: brightness(0) saturate(100%) invert(86%) sepia(84%)
        saturate(5483%) hue-rotate(141deg) brightness(88%) contrast(84%);
    }
  }

  .icon {
    font-size: 2.2rem;
    color: sass.$white;
  }

  .iconText {
    margin: 2px;
  }

  .iconsCntainer {
    display: flex;
    gap: 1.5rem;

    @include sass.breakpoint(sass.$size-lg) {
      position: absolute;
      left: 3rem;
    }
  }

  .backToTop {
    @include sass.breakpoint(sass.$size-lg) {
      position: absolute;
      right: 3rem;
    }
  }
}
